body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url(../images/sc.jpg);
}

.header {
  text-align:center;

}

input {
  margin-left:auto;
  margin-right:auto;
}

a {
  color: #00B7FF;
}

.border {
  background-image:url(localhost:3000/images/sc.jpg) bottom center no-repeat;
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-width: medium;
    width:350px;
    padding:20px
}
